$red: red;
$lightblue: #00CCCA;
$darkblue: #0D7F7E; 
$pink: #D916A9;
$darkgold: #99820F;
$gold: #CCAC0A;
$borderBlue: transparentize($lightblue, 0.5);
$highOpacityBlue: transparentize($lightblue, 0.05);
