$blue: deepskyblue;
$whiteTransparent: rgba(255,255,255,0.91);
$blackTransparent: rgba(0,0,0,0.7);
$footerBlack: rgba(0,0,0, 0.3);
$servicesBackground: rgb(40,40,40);
$servicesHover: rgb(30,30,30);
$servicesActive: rgb(15,15,15);