nav {
    @include flex(center, flex-start);
    height: 40px;
    width: 100%;
    background: transparentize($darkblue, 0.95);
    color: $lightblue;
    border-top: 4px solid $borderBlue;
    border-bottom: 1px solid $borderBlue;
    border-left: 6px solid $borderBlue;
    border-right: 6px solid $borderBlue;
    font-size: 13px;
    font-family: Roboto Mono;
    animation: navEnter 3500ms linear;
}

.nav--heading {
    @include flex(flex-start, flex-start);
    height: 100%;
    flex: 1;
    padding: 5px 15px;
}

.nav--links {
    height: 100%;
    flex: 1;
    @include flex(center, flex-end);
    & div {
        @include flex(flex-start, center);
        height: 100%;
        border-left: 1px solid $borderBlue;
        border-right: 1px solid $borderBlue;
        padding: 5px 15px;
        transition: all 200ms ease;
        &:hover {
            animation: navLinkHover 70ms linear 2 forwards;
            cursor: pointer;
        }
    }
    & .nav--search {
        &:hover {
            animation: navLinkHoverSearch 50ms linear 2 forwards;
        }
    }
}

@keyframes navLinkHover {
    0% {
        background-color: $borderBlue;
        color: white;
    }
    20% {
        background-color: transparent;
        color: transparent;
    }
    50% {
        background-color: $borderBlue;
        color: white;
    }
    70% {
        background-color: $borderBlue;
        color: transparent;
    }
    90% {
        background-color: transparent;
        color: transparent;
    }
    95% {
        background-color: $borderBlue;
        color: rgba(0,0,0,0.95);
    }
    100% {
        background-color: $borderBlue;
        color: white;
    }
}

@keyframes navLinkHoverSearch {
    0% {
        background-color: $pink;
        color: white;
    }
    20% {
        background-color: transparent;
        color: transparent;
    }
    50% {
        background-color: $pink;
        color: white;
    }
    70% {
        background-color: $pink;
        color: transparent;
    }
    90% {
        background-color: transparent;
        color: transparent;
    }
    95% {
        background-color: $pink;
        color: rgba(0,0,0,0.95);
    }
    100% {
        background-color: $pink;
        color: white;
    }
}

@keyframes navEnter {
    0%{
        height: 25px;
    }
    40% {
        height: 600px;
    }
    60% {
        height: 600px;
    }
    100% {
        height: 40px;
    }
}