html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Helvetica;
    padding: 30px;
    border: 6px solid black;
}