// Generics
* {
    box-sizing: border-box;
    font-family: Cabin, Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: Arial;
    font-weight: 200;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}